<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <titl></titl> My API</title>
</head>
<body>
    <h1>BOOKS-API</h1>
    <p>For full objects list: </p>
    <p> Use api with link: </p>

    <h2>List of books:</h2>
    <ul>
        <% for(let [key, value] of Object.entries(info)){%>
            <li>
        <span><%= key %></span>
        
        </li>
        <%}  %>  
    </ul>
</body>
</html>